body{
    width: 100%;
    position: relative;
}
#mark-main{
    width: 80%;
    padding-top:10%;
    margin: auto;
    font-family: sans-serif;
}
.div31{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 60px;
}
.div31>div>img{
    width: 25px;
    margin: auto;
    display: block;
    padding: 30px;
}
.mag{
    margin-top:-56% ;
}
#div3-mark{
    margin:10% auto;
    width: 80%;
    padding: 20px;
}
#div3-mark>p{
    text-align: center;
}
#divp-mark>div{
    width: 50px;
    margin: auto;
}
.div31>div>p{
    width: 80%;
}
#div2-mark{
    text-align: center;
}
.line{
    width: 70px;
    height: 0px;
    border: 1px solid green;
    margin: auto;
    background-color: green;
}
#div1-mark{
    width: 65%;
    margin-left:10px;
   line-height: 50px;
   font-size: 23px;
   margin:10px auto;
}
#div1-mark>h1{
    font-family: sans-serif;
    font-size: 45px;
    color: #4B4B4B;
    line-height: 55px;
    margin: 10px 0px;
}
#div1-mark>h1>span{
    background-color: rgb(127, 255, 140);
    color: white;
    border-radius: 50%;
    font-size:25px;
}
#divp-mark>p{
    color: green;
    width: 50%;
    margin: auto;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
#divp-mark{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 30px;
}
#div4-mark{
    width: 60%;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin: auto;
    padding: 30px;

}
.im{
    width: 90%;
}
#div5-mark{
    margin: auto;
    width: 90%;
    text-align: center;
}
#div6-mark{
    display: flex;
    padding: 20px;
}
#div6-mark>div{
    margin: auto;
    padding: 20px;
    width: 80%;
}
#div7-mark{
    text-align: center;
    width: 60%;
    font-size: 20px;
    line-height: 57px;
    padding: 40px;
    margin:29px auto;
}
#div8-mark>p{
    color: blue;
    width: 50%;
    margin: auto;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
#div8-mark{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 30px;
}
#div8-mark>div{
    width: 50px;
    margin: auto;
}
.in{
    width: 40px
}
#div9-mark{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: space-between;
    margin: auto;
   
}
#div9-mark>div{
    margin: auto;
    width: 80%;
    padding: 40px;
    height: 560px;
}
#div9-mark>div>p{
    font-size: 17px;
    line-height: 25px;
    width: 80%;
}
.hit{
    height: 400px;
    margin: auto;
    padding: -10px;
}
#div10-mark>h1{
    text-align: center;
    padding: 30px;
    font-size: 40px;
    width: 50%;
    margin:10px auto;
    
}
.div10div{
    display: flex;
    margin:40px auto;
}
.divh{
    width: 60%;
   font-size: 20px;
   line-height: 25px;
}
.div10l{
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 18px;
}
.eta{
    font-style: italic;
}
#div11-mark>div{
    width: 100%;
    margin: auto;
}
#div11-mark>div>p{
    width: 45%;
    font-size: 20px;
    line-height: 40px;
    font-family: sans-serif;
    color: rgb(115, 115, 236);
}
#div11-mark>div>h4{
    color: gray;
}
.mid{
    margin-right: 100%;
    justify-content: right;
    padding-left:400px ;
}
#div12-mark{
    margin: auto;
    width: 90%;
    text-align: center;
    font-size: 25px;
   
}
.min{
    color: blue;
    
    background-color: white;
   
}
.min>img{
    width: 20px;
}
.div13div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: space-between;
    margin: auto;
}
.div13div>div{
    margin: auto;
   padding: 20px;
    height: 560px;
}

.imn{
    width: 600px;
}
#div13-mark{
    width: 100%;
    background-color: aliceblue;

}
#div13-mark>div:first-child{
    text-align: center;
}
.div13p{
    width: 65%;
    margin: auto;
    font-size: 17px;
    line-height: 40px;
    color: gray;
}
.iml{
    width: 90%;

}
.full-logo{
    width: 300px;
    color: blue;
   
    margin-bottom: 50%;
   padding-bottom: 20px;
    
}
#header-nav-bar{
    display: flex;
    width: 100%;
    justify-content: space-between;
   
   padding: 30px;
   height: 40px;
   position: fixed;
   margin-top: -20px;
   background-color: white;
   
}
.nav-bar-left{
    display: flex;
}
.menu{
    display: flex;
    gap: 30px;
    color: #4B4B4B;
    margin-left: -200px;
}
.menu>a{
    color: #4B4B4B;
    text-decoration: none;
}
#footer{
    margin:10px auto;
    padding-top: 40px;
}
#footer>div>h1{
    text-align: center;
    font-size: 45px;
    margin:50px auto;
    font-family: sans-serif;
    color: #4B4B4B;
}
.foot{
    width: 80%;
    margin:10px auto;
    display: flex;
    padding: 40px;
}
.foot>div{
    width: 80%;
    margin:10px auto;
    padding: 40px;
    font-size: 15px;
    line-height: 30px;
    color: #4B4B4B;
}
.sk{
    display: flex;
    width: 200px;
    padding: 0px;
    margin-bottom:0px;
    
}
.last{
    height: 30px;
    width: 80%;
    margin: auto;
   
}
p{
font-family: sans-serif;
color: #4B4B4B;
}